/Lab3/dist/
/Lab_2_2/AccessGranted/nbproject/private/
/Lab_2_2/AccessGrantedModel/nbproject/private/
/Lab_2_2/AccessGrantedApp/nbproject/private/
/Lab_2_2/AccessGrantedModel/build/
/Lab_2_2/AccessGrantedModel/dist/
/Lab_2_2/AccessGrantedApp/build/